.carts {
  max-width: 400px;
  margin: 2vh auto;
  min-height: 60vh;
  max-height: 95vh;
  border: 1px solid #ddd;
  position: relative;
  overflow: hidden;
}
.carts-content {
  padding: 45px 0;
  max-height: 95vh;
  overflow: auto;
}

.carts-header {
  position: absolute;
  left: calc((100% - 400px) / 2);
  top: 0;
  width: 400px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f1f2f7;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  background-color: #fff;
  font-size: 16px;
}

.carts-footer {
  position: absolute;
  left: calc((100% - 400px) / 2);
  bottom: 0;
  width: 400px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #f1f2f7;
  background-color: #fff;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  padding: 0 20px;
  font-size: 16px;
}

.carts-content-item {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f1f2f7;
}

input[type='checkbox'] {
  margin-right: 10px;
}

input[type='checkbox']:active {
  opacity: .5;
}

.item-right {
  color: red;
}

